[package]
name = "xlui"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/xllgl2017/xlui"
authors = ['xllgl2017']
description = "Rust GUIåº“"
readme = "README.md"
#https://docs.rs/crate/xlui/latest

[lib]
name = "xlui"
crate-type = ['cdylib', 'rlib']

[[bin]]
name = "hello_world"
path = "example/hello_world.rs"


[[bin]]
name = "hello_xlui"
path = "example/hello_xlui.rs"

[[bin]]
name = "test_layout"
path = "test/layout.rs"

[[bin]]
name = "test_widget"
path = "test/widget.rs"

[[bin]]
name = "test_hibernate"
path = "test/hibernate.rs"

[[bin]]
name = "test_all"
path = "test/all.rs"

[[bin]]
name = "test_x11_window"
path = "test/x11_window.rs"

#[lib]
#name = "xlui-web"
#path = "test/web.rs"
#crate-type = []

[dependencies]
winit = { version = "0.30.11", optional = true }
wgpu = "25.0.2"
pollster = "0.4.0"
glyphon = "0.9.0"
bytemuck = "1.23.1"
ab_glyph = "0.2.31"
image = "0.25.6"
x11 = "2.21.0"
raw-window-handle = "0.6.2"



[profile.release]
opt-level = 3
lto = true
codegen-units = 1
debug = false
panic = "abort"
